{#**
 * WePresta ACF - Advanced Custom Fields for PrestaShop
 *
 * @author    WePresta
 * @copyright 2024-2025 WePresta
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License 3.0 (AFL-3.0)
 *#}

{#
 # ACF Color Field Template (Twig)
 #}

{% if value is not empty %}
    <span class="acf-color{% if customClass %} {{ customClass }}{% endif %}" 
          style="background-color: {{ value }};"
          title="{{ value }}"
          {% if customId %}id="{{ customId }}"{% endif %}>
    </span>
{% endif %}
