{#**
 * WePresta ACF - Advanced Custom Fields for PrestaShop
 *
 * @author    WePresta
 * @copyright 2024-2025 WePresta
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License 3.0 (AFL-3.0)
 *#}

{#
 # ACF Radio Field Template (Twig)
 #}

{% if value is not empty %}
    {% set label = value %}
    
    {% if config.choices is defined and config.choices is iterable %}
        {% for choice in config.choices %}
            {% if choice is iterable and choice.value is defined and choice.value == value %}
                {% set label = choice.label|default(value) %}
            {% endif %}
        {% endfor %}
    {% endif %}
    
    <span class="acf-radio{% if customClass %} {{ customClass }}{% endif %}"{% if customId %} id="{{ customId }}"{% endif %}>
        {{ label }}
    </span>
{% endif %}
