{#**
 * WePresta ACF - Advanced Custom Fields for PrestaShop
 *
 * @author    WePresta
 * @copyright 2024-2025 WePresta
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License 3.0 (AFL-3.0)
 *#}

{#
 # ACF Text Field Template (Twig)
 #
 # Variables:
 #   value - Field value (string)
 #   field - Field definition array
 #   config - Field configuration
 #   foOptions - Front-office options
 #   slug - Field slug
 #   customClass - Custom CSS class
 #   customId - Custom HTML ID
 #}

{% if value is not empty %}
    <span class="acf-text{% if customClass %} {{ customClass }}{% endif %}"{% if customId %} id="{{ customId }}"{% endif %}>
        {{ value }}
    </span>
{% endif %}
