{#
 * Back Button Partial
 #}
<div class="mb-3">
    <a href="{{ back_url }}" class="btn btn-outline-secondary">
        <i class="material-icons">arrow_back</i>
        {{ 'Back'|trans({}, 'Admin.Global') }}
    </a>
</div>
